{% extends "board/base.html" %}

{% block content %}
    <h1>Challenges</h1>
    <p>
        At MRMCD15, there will be multiple challenges for you of very different types.
        For some challenges, you might need muscles in your arms, for others, you'll
        rather need them in the brain. There will be challenges with and without sports,
        and challenges with and without computers. Some challenges run during the whole
        event, others happen at a special place and time.
    </p>
    <p>
        Every challenge can be won be exactly one person and will be rewarded with endless
        honor and, of course, a price from the event crew, that will be awarded at the
        event's closing ceremony.
    </p>
    <h2>List of challenges</h2>
    <div class="panel-group">
        {% for c in challenges %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <i class="glyphicon glyphicon-time"></i>
                        {% if c.datetime %}
                            {{ c.datetime|date:"D H:i" }}
                            {% if c.datetime_end %}
                                – {{ c.datetime_end|date:"D H:i" }}
                            {% endif %}
                        {% else %}
                            All time
                        {% endif %}
                    </div>
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#challenge{{ c.id }}">
                            {{ c.title }}
                        </a>
                    </h4>
                </div>
                <div id="challenge{{ c.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% if c.location %}
                            <p>
                                <i class="glyphicon glyphicon-flag" data-tooltip="Ort"></i>
                                {{ c.location }}
                            </p>
                        {% endif %}
                        {% if c.url %}
                            <p>
                                <i class="glyphicon glyphicon-globe"></i>
                                <a href="{{ c.url }}">{{ c.url }}</a>
                            </p>
                        {% endif %}
                        {% if c.description %}
                            <p>
                                {{ c.descr|safe }}
                            </p>
                        {% endif %}
                        {% if c.participants %}
                            <p>
                                <strong>Current Highscore</strong>
                            </p>
                            <table class="table table-condensed table-striped">
                                {% for p in c.get_highscore %}
                                    <tr>
                                        <td>{{ p.pos }}</td>
                                        <td>{{ p.name }}</td>
                                        <td>
                                            {% if challenge.mode == "first" %}
                                                {{ p.datetime|date:"D H:i" }}
                                            {% else %}
                                                {{ p.value }}
                                                {% if challenge.value_unit %}{{ challenge.value_unit }}{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>

                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}